# MongoDB Configuration
MONGO_URI=mongodb+srv://swarnimbane1234:swarnim0129@cluster0.nc7yq.mongodb.net/SkillUP?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB=morpheus_db

# Security Configuration
SECRET_KEY=n1i/xLkti2V/3sDgdquBGz+yqvcjpCEoPGxhQzxqsj0=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Gemini API Key - Get from https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AIzaSyDA342WAQouNCqDhNq6Pw-an9xadYPA3kI

TAVILY_API_KEY=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